@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #c44b00;
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
  COPY CODE





.swiper-pagination-bullet {
    width: 16px !important; 
    height: 16px !important;
    background-color: #fff; 
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 40px !important;
    border-radius: 10px !important;
    background-color: #e0a912 !important; 
}




.banner-video{
    background: rgba(0, 0, 0, 0.95) !important;
}


.navbar_show{
  transform: translateX(0);
  transition: all 300ms;
}

.navbar_hidden{
  transform: translateX(100%);
  transition: all 300ms;
}


@media (min-width: 600px) {
  .navbar_hidden {
    transform: translateX(0);
  }
}
